.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin: 80px 56px;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  color: var(--main-text);
}

.text {
  font-family: var(--font-dm-sans);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #8c8c8c;
}
