.header {
  width: 100%;
  padding: 0 16px;
}

.container {
  padding: 20px 25px;
  background-color: #bbbddf;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.menu {
  background-color: #f4f4f6;
  border-radius: 99px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  gap: 4px;
  font-size: 20px;
  line-height: 100%;
  color: var(--main-text);
  font-family: var(--font-dm-sans);
  font-weight: 400;
  align-items: center;
}

.outlineBtn {
  border: 1px solid var(--main-text);
  border-radius: 99px;
  background: #ffffff;
  padding: 12px 16px;
  font-family: var(--font-dm-sans);
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text);
  font-weight: 600;
}

.outlineBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.outlineBtn:active {
  opacity: 0.7;
}

.textBtn {
  border: none;
  font-family: var(--font-dm-sans);
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text);
  font-weight: 500;
  background-color: initial;
}

.textBtn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.textBtn:active {
  opacity: 0.7;
}

.mgleft {
  margin-left: 16px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin-left: 42px;
  margin-top: 136px;
  margin-bottom: 216px;
}

.leftTitle {
  font-family: var(--font-dm-sans);
  font-weight: 600;
  font-size: 62px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--main-text);
}

.leftText {
  margin-top: 28px;
  margin-bottom: 50px;
  font-family: var(--font-mulish);
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: var(--main-text);
}

.leftButton {
  border: 2px solid #0c0e0e;
  border-radius: 99px;
  padding: 16px 20px;
  font-family: var(--font-dm-sans);
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--main-text);
  background-color: initial;
  width: fit-content;
}

.leftButton:hover {
  opacity: 0.8;
  cursor: pointer;
}

.leftButton:active {
  opacity: 0.7;
}

.rightBlock {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 236px;
}

.rightItem {
  border: 1px solid var(--main-text);
  border-radius: 12px;
  background: #bbbddf0a;
  backdrop-filter: blur(23.200000762939453px);
  padding: 20px;
}

.rightItemTitle {
  font-family: var(--font-dm-sans);
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
  color: var(--main-text);
}

.rightItemGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cognitiveGroup {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 6px;
}

.cognitiveNumber {
  font-family: var(--font-namdhingo);
  font-size: 70px;
  line-height: 46px;
  font-weight: 600;
  color: var(--main-text);
}

.cognitiveYear {
  font-family: var(--font-dm-sans);
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  color: var(--main-text);
}

.imgContainer {
  height: 80%;
  position: absolute;
  bottom: 0;
  right: 120px;
}
