.container {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title {
  font-family: var(--font-dm-sans);
  font-size: 60px;
  line-height: 100%;
  font-weight: 700;
  color: var(--main-text);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.subtitle {
  font-size: 16px;
  line-height: 100%;
  font-weight: 500;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}

.infoRow {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  gap: 40px;
}

.leftBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  justify-content: center;
}

.cube {
  width: 12px;
  height: 12px;
  background-color: #c0b7f6;
}

.leftBlockMarker {
  display: flex;
  flex-direction: row;
  gap: 16px;
  font-family: var(--font-dm-sans);
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: var(--second-text);
}

.leftBlockTitle {
  font-family: var(--font-dm-sans);
  font-size: 32px;
  font-weight: 600;
  line-height: 100%;
  color: var(--main-text);
}

.leftBlockSubtitle {
  font-family: var(--font-dm-sans);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: var(--second-text);
}

.divider {
  position: relative;
  width: 40px;
  height: 830px;
  margin: 0 auto;
}

.line {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  border-left: 2px dashed #ccc;
  transform: translateX(-50%);
}

.lineLast {
  height: 50%;
}

.circleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.outerCircle {
  width: 40px;
  height: 40px;
  background-color: #d5d5d5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerCircle {
  width: 24px;
  height: 24px;
  background-color: #a6a6a6;
  border-radius: 50%;
}

.firstBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: end;
  justify-content: center;
}

.firstBlockGroup {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.secondBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thirdBlock {
  display: flex;
  width: 463px;
  height: 655px;
  position: relative;
}

.thirdContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tennis {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.score {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.lastBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.lastBlockGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
